h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.texte {
  color: #333;
}

.add-blog-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-blog-form {
  display: flex;
  flex-direction: column;
}

.add-blog-form label {
  margin-bottom: 5px;
}

.add-blog-form input,
.add-blog-form textarea {
  padding: 10px;
  
  margin-bottom: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  outline: none; 
}

.add-blog-form input::placeholder,
.add-blog-form textarea::placeholder {
  color: #aaa; 
}

.add-blog-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-message {
  color: green;
  margin-top: 10px;
}